---
name: Go CI Lint

on: # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

env:
  LOG_LEVEL: WARN

jobs:
  lint:
    name: "Go CI LINT"
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-2022", "ubuntu-24.04", "macos-14"]
        go: ["1.23.x", "1.24.x", "1.25.x"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          check-latest: false

      - run: go version

      - name: Test Styling (gofmt & modernize)
        run: make test/styling

      - name: Lint (go vet)
        run: go vet -v ./...

      - name: Lint golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=10m
          version: v2.1.0
          skip-cache: true
