---
name: Go CI Tests

on: # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

env:
  LOG_LEVEL: WARN

jobs:
  test:
    name: "Go CI Tests"
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-2022", "ubuntu-24.04", "macos-14"]
        go: ["1.24.x", "1.25.x", "1.26.x"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          check-latest: false

      - run: go version

      - name: Build
        run: go build -v ./...

      - name: Test
        run: |
          go test -v -coverprofile="coverage.out" ./exercises/...
          # go tool cover -func=coverage.out
